body, *::after, *::before {
  box-sizing:
}

html {
  font-size: 62.5%
}


body {
  background-image: url("../assets/bg-main-desktop.png"), url("../assets/bg-pattern-1.svg");
  background-position: top left, 100% -7%;
  background-repeat: no-repeat, no-repeat;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2rem;
  color:#191826;
  font-weight: 400;
}

h1 {
  font-size: 8.8rem;
  font-weight: 700;
  margin-top: 12.7rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color:#FCFAF9;
  line-height: 5.2rem;
  margin-top: 5.8rem;
  margin-bottom: 2.2rem;
}

h3 {
  font-size: 6.5rem;
  font-weight: 700;
  color:#FCFAF9
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  color:inherit;
}

span {
  font-weight: 700;
}


.page {
 width:111rem;
 position:relative;
 margin:6rem auto auto auto;
 height:100vh;
}

.header_p {
  margin-top: 4rem;
  line-height: 3.4rem;
  max-width: 82.5rem;
}

.container {
  height: 600px;
  background-color: #191826;
  margin-top: 32.1rem;
  border-radius: 2rem;
  background-image: url("../assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: 33.6rem -3rem;
  position: relative;

}

.app {
  height: 642px;
  position: absolute;
  left:10.2rem;
  top:-21.3rem;

}

.premium {
  position: absolute;
  left:56.9rem;
  top:9rem;
  background-color: #FA7453;
  height: 62.5rem;
  width:44.6rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.premium_cont {
  width:75%;
}

.premium_cont > p {
  color:#FCFAF9;
  line-height: 3.4rem;
  margin-bottom: 4rem;
}

.premium_price {
  display: flex;
  justify-content: flex-start;
  color:#FCFAF9;
  margin-bottom:4rem;
}

.month {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
}


.premium_footer {

}


.premium_footer > a {
  text-align: center;
}

.premium_footer > div {
  width:inherit;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.1rem;
  margin-bottom: 1.6rem;

}

.prem_ios {
    background-color: #191826;
    color:#FCFAF9;
}


.prem_android {
    background-color: #FCFAF9;
    color:#191826

}

.prem_ios:hover {
    background-color: #66E2DC;
    color:#FCFAF9;
}

.prem_android:hover {
    background-color: #FFB964;
    color:#191826

}

.premium_footer img {
  margin-right: 0.5rem;
}

.footer {
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15rem;

}

.footer_float {
  float:left;
}

.footer_p {
  font-size: 1.6rem;
  max-width: 36.6rem;
  line-height: 2.6rem;
  margin-left: 14rem;
}

.footer_logos {
  display: flex;
  align-items: center;
}

.footer_logos > a {
  padding:1rem;
}


.fb {
  color:#FA7453
}

.footer_logos > a:nth-child(1):hover {
  /* filter: invert(70%); */
  /* filter: sepia(80%); */
  filter: invert(66%) sepia(49%) saturate(4037%) hue-rotate(326deg) brightness(100%) contrast(97%);
}

.footer_logos > a:nth-child(3):hover {
  /* filter: invert(70%); */
  /* filter: sepia(80%); */
  filter: invert(66%) sepia(49%) saturate(4037%) hue-rotate(326deg) brightness(100%) contrast(97%);
}

@media screen and (max-width:1100px){

  html {
    font-size: 50%;
      }

  header {
      width:95%;
      margin: auto;
    }

  h1 {
    max-width: 70%;
    margin-left: 0;
  }

  section {
    width:95%;
    margin: auto
  }

  footer {
      width:95%;
      margin: auto;
    }

  .page {
      width:100%;
    }

  .app {
    height: 556px;
  }

  .premium {
    top:22rem;
    left:45%;
  }

  .app {
    left:10%
  }

  .container {
    background-size: 40rem;
  }

  body {
    background-image: url("../assets/bg-main-desktop.png"), url("../assets/bg-pattern-1.svg");
    background-position: top left, 100% -7%;
    background-size: auto,30rem;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_p {
    margin-left: 0;
    padding-top: 5rem;

    }

    .footer_logos {
      align-items:flex-end;
    }

    .footer_logos > a {
      padding-top: 3rem;
    }


}






@media screen and (max-width:700px) {

  html {
    font-size: 40%;
      }

  body {
    background-image: url("../assets/bg-main-desktop.png");
    background-position: top left;
    background-repeat: no-repeat;
  }

  header {
    width:90%;
    margin: auto;
  }

  footer {
    width:90%;
    margin: auto;
  }



  .page {
    width:100%;
  }

  .header_p {
    max-width:95%;
    font-size: 130%;
  }

  .container {
    text-align: center;
    background-position: 50% -3rem;
    background-size: 50rem;
    margin-top: 15rem;

  }

  .app {
    height: 430px;
    position:static;
    top:-100px;

  }

  .premium {
    position: static;
    margin:auto;
    background-color: #FA7453;
    height: 62.5rem;
    width:44.6rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
  }

  .footer {
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_p {
    margin-top: 4rem;
    margin-left: 0;
    font-size: 130%;
    max-width: 50rem;
    line-height: 4rem;
    }

  .footer_p  a {
    font-size: 120%;
  }

  .footer_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_logos {
    margin-top: 10rem;
  }

  .footer_logos > a:nth-of-type(1) {
    padding-left: 0;
  }

}
